<section name="Lista">
	<div ab-cabecera>Estos son tus movimientos recientes.
	    <h1>HOLA tecnocom</h1>
	</div>
	<br>
	<label class="control-label" for="importe">Filtrar:</label>
	<input type="text" name="filtro" placeholder="qué buscas?" class="input" ng-model="caja.valorBuscado">
	<button class="btn-primary" ng-click="caja.valorCorte=0">Ver todos los movimientos</button>
	<button class="btn-danger" ng-click="caja.valorCorte=1000">Sólo grandes movimientos</button>
	<ab-tabla-movimientos
        movs="caja.movimientos"
        searchvalue="caja.valorBuscado"
        valorcorte = "{{caja.valorCorte}}"
        una-funcion="caja.valorCorte=10000"
                          ></ab-tabla-movimientos>
</section>
