<div class="container">
	<div class="row">
		<div class="span12">
			<!--           Tenemos que nombrar el formulario y sus elementos, y decirle al navegador que no haga validaciones-->
			<form class="form-horizontal" name="formRegistro" novalidate>
				<fieldset>
					<div id="legend">
						<legend class="">Login</legend>
					</div>
					<div class="control-group" ng-class="{ 'has-error': formRegistro.email.$touched && formRegistro.email.$invalid }">
						<!-- email -->
						<label class="control-label" for="email">Email</label>
						<div class="controls">
							<input type="email" ng-model="registro.usuario.email" name="email" required ng-minlength="5" class="input-xlarge">
							<div ng-messages="formRegistro.email.$error" ng-messages-multiple>
								<div ng-message="required">Necesitamos tu dirección de email</div>
								<div ng-message="minlength">Demasiado corto</div>
								<div ng-message="email">Tiene que ser una dirección válida</div>
							</div>
						</div>
					</div>
					<div class="control-group" ng-class="{ 'has-error': formRegistro.password.$touched && formRegistro.password.$invalid }">
						<!-- Password-->
						<label class="control-label" for="password">Password</label>
						<div class="controls">
							<input type="password" ng-model="registro.usuario.password" name="password" required ng-minlength="4" class="input-xlarge">
							<div ng-messages="formRegistro.password.$error" ng-messages-multiple>
								<div ng-message="required">Necesitamos una contraseña</div>
								<div ng-message="minlength">Demasiado corta</div>
							</div>
						</div>
					</div>
					<div class="control-group">
						<!-- Button -->
						<div class="controls">
							<button class="btn btn-primary" ng-click="registro.entrar()" ng-disabled="formRegistro.$invalid">Login</button>
						</div>
						<div class="well" ng-show="registro.apiError">
							<header>
								<h4>Problema de seguridad</h4>
							</header>
							<div class="lead">Inténtalo de nuevo</div>
						</div>
						<!-- Button -->
						<div class="controls">
							<button class="btn btn-success" ng-click="registro.registrar()" ng-disabled="formRegistro.$invalid" name="registrar">Registro</button>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>